/* basic styles */
.container {
  width: 370px;
  margin: 0 auto;
}

.header {
  &__outer {
    background-color: #fff;
    width: 100%;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
  }

  &__tabs {
    display: none;
  }
  &__menu {
    display: block;
  }
}

.lamp {
  display: none;
}

/* styles for landing page */
.landing {
}

.slider {
  padding: 40px 0;
  position: relative;
  &__slide {
    width: 100%;
    &--svg {
      position: absolute;
      top: 30px;
      right: 20px;
    }
    &--text {
      font-size: 14px;
      padding-top: 20px;
      &--p {
        padding: 0;
        margin: 0;
      }
    }
  }
  &__dot {
    background-color: $default_black;
    border: none;
    width: 15px;
    height: 2px;
    &--active {
      background-color: $default_light;
      width: 30px;
    }
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
  &__title {
    // position: absolute;
    font-size: 18px;
    // top: 0;
  }
}

.imageblock {
  height: 270px;

  &__place {
    height: 10px;
    position: relative;
  }
}

.hayatblock {
  width: 350px;
  height: 200px;
  background-color: rgba(250, 164, 26, 0.7);
  padding: 30px 0 0 10px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  border-radius: 15px;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 30px;
  left: 0;

  &__name {
    font-size: 36px;
  }
}

.partners {
  padding-bottom: 40px;
  &__title {
    font-size: 18px;
    text-transform: uppercase;
  }

  &__slider {
    width: 100%;
  }

  &__slide {
    &--inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--image {
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  }
}

.supplier {
  padding: 40px 0;
  &__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
    align-self: flex-start;
    padding-bottom: 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    width: 225px;
    height: 370px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 15px;

    &--outer {
      &:not(:last-of-type) {
        margin-bottom: 40px;
      }
    }
    &--cover {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &--title {
      font-size: 24px;
      font-weight: normal;
      text-align: center;
    }
    &--text {
      font-size: 14px;
    }
    &--buttons {
    }
    &--button {
      display: block;
      text-align: center;
      text-decoration: none;
      font-size: 14px;
      background: none;
      border: 1px solid $default_black;
      color: $default_black;
      padding: 10px 0;
      border-radius: 5px;
      outline: none;
      width: 100%;

      transition: 250ms;

      &:hover {
        background-color: $default_black;
        color: white;
        cursor: pointer;
      }
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
    &--svg {
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
      margin: 20px 0;
    }
  }
}

.tarif {
  padding: 40px 0;
  &__title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
  }
  &__content {
    &--name {
      padding: 20px 0;
      font-size: 18px;
      font-weight: normal;
      text-align: center;
    }
  }
  &__formula {
    &--block {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      &-inner {
        position: relative;
      }
      &--card {
        background-color: $default_light;
        width: 250px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        position: relative;
        margin-left: 105px;
        &::before {
          content: '';
          display: block;
          position: absolute;
          transform: translateX(-100%);
          top: 0;
          left: 0;

          border-top: 35px solid transparent;
          border-bottom: 35px solid transparent;
          border-right: 15px solid $default_light;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          transform: translateX(100%);
          top: 0;
          right: 0;

          border-top: 35px solid transparent;
          border-bottom: 35px solid transparent;
          border-left: 15px solid $default_light;
        }
        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
        &--subtext {
          font-size: 12px;
          margin-left: 120px;
          &:first-of-type {
            margin-top: 40px;
          }
        }
        &--gear {
          width: 50%;
          margin-left: 20px;
        }
        &--title {
          font-size: 18px;
          font-weight: normal;
        }
        &--text {
          font-size: 12px;
        }
      }
      &--lamp {
        position: absolute;
        top: -5px;
        left: -25px;
        z-index: 1;
      }
    }
  }
}

.contacts {
  background-color: $default_black;
  &__inner {
    color: white;
    padding: 20px 0;
  }
  &__map {
    height: 300px;
    margin: 0 auto;
  }
  &__content {
    padding: 10px 0;
    &--text {
      margin: 10px 0;
      &--span {
        display: block;
      }
    }
  }
}

.footer {
  background-color: $default_black;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 60px;
  }
  &__left {
    font-size: 16px;
  }
  &__right {
    font-size: 12px;
  }
}

/* styles for info center page */
.infocenter {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 105px);
  &__card {
    width: 220px;
    height: 340px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    &--title {
      font-size: 16px;
      font-weight: normal;
      text-transform: uppercase;
    }
    &--icon {
      margin: 10px 0;
      width: 50px;
      height: 50px;
    }
    &--text {
      height: 170px;
      font-size: 14px;
      line-height: 21px;
      overflow: hidden;
      &-p {
        text-align: left;
      }
    }
    &--more {
      text-align: center;
      color: #cbcbcb;
      font-size: 12px;
    }
    &:not(:last-of-type) {
      margin-bottom: 40px;
    }
  }
}

.userinfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  &__modal {
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
  }
}

.settings {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  transition: 300ms;
  &__header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid $default_black;
    padding: 20px 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &--links {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid $default_black;
    }

    &--link {
      color: $default_black;
      font-size: 24px;
      text-decoration: none;
      padding: 20px 0;
    }
    &--user {
      padding: 20px 0;
    }
  }
}

.faq {
  min-height: calc(100vh - 105px);
  padding: 40px 0;

  &__card {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;

    &--title {
      border-bottom: 1px solid $default_black;
      padding: 5px 0;
      font-size: 18px;
      font-weight: bold;
    }
    &--text {
      padding: 10px 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &-active {
        overflow: visible;
        white-space: pre-wrap;
      }
    }
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .header {
    &__tabs {
      display: flex;
      align-items: center;

      &--links {
        &-link {
          color: $default_black;
          font-size: 14px;
          text-decoration: none;
          &:not(:first-of-type) {
            margin-left: 20px;
          }
        }
      }
      &--userinfo {
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid #cbcbcb;
        &-avatar {
          fill: $default_light;
        }
      }
    }
    &__menu {
      display: none;
    }
  }
  .hayatblock {
    top: 74px;
  }
  .imageblock {
    height: 200px;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position-y: center;
  }
  .slider {
    padding-top: 120px;
    &__slide {
      &--text {
        font-size: 16px;
        padding-left: 60px;
      }
      &--svg {
        z-index: 2;
        left: 0;
        top: 190px;
      }
    }
    &__title {
      font-size: 24px;
      top: 90px;
      right: 0;
    }
  }
  .partners {
    &__title {
      font-size: 24px;
    }
  }
  .supplier {
    &__title {
      font-size: 24px;
    }
    &__content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__card {
      &--outer {
        &:last-of-type {
          margin: 0 auto;
        }
      }
    }
  }
  .tarif {
    &__title {
      font-size: 24px;
    }
  }
  .footer {
    &__right {
      font-size: 14px;
    }
  }

  .infocenter {
    &__card {
      width: 500px;
      &--header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;

        border-bottom: 1px solid $default_black;
        margin-bottom: 20px;
      }
      &--title {
        margin-left: 50px;
      }
      &--icon {
        width: 75px;
        height: 75px;
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .imageblock {
    height: 280px;
  }
  .hayatblock {
    top: 100px;
  }
  .lamp {
    display: block;
    position: absolute;
    top: 200px;
    right: 10px;

    width: 117px;
    height: 174px;
    fill: #34465e;
  }
  .slider {
    padding-top: 50px;
    &__slide {
      &--svg {
        top: 130px;
      }
    }
    &__title {
      top: 50px;
      right: 140px;
    }
  }
  .supplier {
    &__content {
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        height: 7px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
    &__card {
      min-width: 225px;
      margin: 10px 10px 0;
      &--outer {
        &:last-of-type {
          // margin: 10px 10px 40px;
          margin-bottom: 40px;
        }
      }
    }
  }
  .contacts {
    &__inner {
      display: flex;
    }
    &__map {
      width: 350px;
    }
    &__content {
      text-align: right;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &--text {
        margin: 0;
      }
    }
  }
  .footer {
    &__left {
      font-size: 18px;
    }
  }
  .faq {
    &__card {
      padding: 20px;
    }
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .imageblock {
    height: 370px;
  }
  .hayatblock {
    top: 130px;
    width: 470px;
    height: 265px;
    padding-top: 85px;
  }
  .lamp {
    top: 280px;
    right: 60px;
    width: 150px;
    height: 230px;
  }
  .slider {
    &__slide {
      &--text {
        font-size: 20px;
        width: 700px;
        padding-left: 80px;
      }
      &--svg {
        top: 120px;
      }
    }
    &__title {
      right: 280px;
    }
  }
  .tarif {
    &__formula {
      display: flex;
      justify-content: space-between;
      &--block {
        align-items: center;
        &:nth-of-type(3) {
          width: 400px;
        }
      }
    }
  }
  .footer {
    &__left {
      font-size: 24px;
    }
    &__right {
      font-size: 18px;
    }
  }
  .infocenter {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &__card {
      &:nth-of-type(3n + 1) {
        width: 300px;
      }
      &:last-of-type {
        margin-bottom: 40px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .imageblock {
    height: 540px;
  }
  .hayatblock {
    top: 210px;
    width: 670px;
    height: 380px;
    padding: 140px 0 0 20px;
    font-size: 36px;

    &__name {
      font-size: 48px;
    }
  }
  .lamp {
    top: 450px;
    right: 60px;
    width: 220px;
    height: 325px;
  }
  .slider {
    padding-top: 150px;
    &__slide {
      &--text {
        font-size: 24px;
        width: 700px;
        padding-left: 120px;
      }
      &--svg {
        top: 250px;
      }
    }
    &__title {
      font-size: 36px;
      right: 320px;
      top: 130px;
    }
  }
  .partners {
    &__title {
      font-size: 36px;
    }
  }
  .supplier {
    &__title {
      font-size: 36px;
    }
  }
  .tarif {
    &__title {
      font-size: 36px;
    }
    &__content {
      width: 80%;
      margin: 0 auto;
    }
  }
  .contacts {
    &__map {
      width: 700px;
    }
  }
  .infocenter {
    &__card {
      width: 700px;
      &--title {
        font-size: 24px;
      }
      &--icon {
        width: 90px;
        height: 90px;
      }
      &--text {
        font-size: 18px;
      }
    }
  }
}
