.container {
  width: 380px;
  margin: 0 auto;
}

.header {
  &__outer {
    background-color: #fff;
    width: 100%;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
  }

  &__tabs {
    display: none;
  }
  &__menu {
    display: block;
  }
}

.lamp {
  display: none;
}

.landing {
}

.slider {
  padding-top: 40px;
  &__slide {
    width: 100%;
    background-color: red;
  }
  &__dot {
    background-color: $default_light;
    border: none;
    width: 15px;
    height: 2px;
    &:not(:last-of-type) {
      margin-right: 10px;
    }
  }
}

.imageblock {
  height: 270px;

  &__place {
    height: 10px;
    position: relative;
  }
}

.hayatblock {
  width: 350px;
  height: 200px;
  background-color: rgba(250, 164, 26, 0.7);
  padding: 30px 0 0 10px;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  border-radius: 15px;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 30px;
  left: 0;

  &__name {
    font-size: 36px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
  .header {
    &__tabs {
      display: flex;
      align-items: center;

      &--links {
        &-link {
          color: $default_black;
          font-size: 14px;
          text-decoration: none;
          &:last-child {
            margin-left: 20px;
          }
        }
      }
      &--userinfo {
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin-left: 10px;
        border-left: 1px solid #cbcbcb;
        &-avatar {
          fill: $default_light;
        }
      }
    }
    &__menu {
      display: none;
    }
  }
  .hayatblock {
    top: 74px;
  }
  .imageblock {
    height: 200px;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position-y: center;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .imageblock {
    height: 280px;
  }
  .hayatblock {
    top: 100px;
  }
  .lamp {
    display: block;
    position: absolute;
    top: 200px;
    right: 10px;

    width: 117px;
    height: 174px;
    fill: #34465e;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .imageblock {
    height: 370px;
  }
  .hayatblock {
    top: 130px;
    width: 470px;
    height: 265px;
    padding-top: 85px;
  }
  .lamp {
    top: 280px;
    right: 60px;
    width: 150px;
    height: 230px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
  .imageblock {
    height: 540px;
  }
  .hayatblock {
    top: 210px;
    width: 670px;
    height: 380px;
    padding: 140px 0 0 20px;
    font-size: 36px;

    &__name {
      font-size: 48px;
    }
  }
  .lamp {
    top: 450px;
    right: 60px;
    width: 220px;
    height: 325px;
  }
}
